# Ignore node modules
functions/node_modules/

# Replay artifacts
functions/replayLogs.json
functions/steps.json
functions/snapshots.json

# Credentials
serviceAccount.json
**/serviceAccount.json

# Test logs
tests/**/*.log

# Logs
npm-debug.log*

# Env
.env

node_modules/

